.link{
    font-size: 20px;
    color: #fff;
    position: relative;
    border: none;
    
    
}

#navid {
    background-color: black;
}

.link:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 32%;
    height: 2px;
    background: linear-gradient(to right, #fff, #285AEB 70%);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.link:hover{
    color: #333;
    text-decoration: none;
}
.link:hover:after{
    width: 100%;
}
.link-active:after{
    width: 100%;
}